.active-bar {
    position: absolute;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}
