@use "@/styles/mixins/screen";
@use "@/styles/mixins/common";

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 8px;
  justify-content: space-between;

  @include screen.pc() {
    padding: 16px 50px;
  }

  .panel {
    flex: 1;
    padding-right: 16px;
    margin-bottom: 16px;
    max-height: calc(100% - 16px - 100px);

    .messageList {
      display: flex;
      flex-direction: column-reverse;

      .messageListItem {
        &:not(:last-of-type) {
          margin-top: 24px;
        }
      }
    }
  }
}
