.chat {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__panel {
        height: 100%;
    }

    &__input {
        height: 100px;
        font-size: 14px;
        line-height: 1.5;
    }
}