@use "@/styles/mixins/screen";
@use "@/styles/mixins/common";

.inputArea {
  height: 100px;
  border-radius: var(--border-radius);
  padding: 4px 10px;
  background-color: var(--color-primary-background-light);
  border: solid 1px var(--color-input-border);
  @include common.transition(out);

  &:hover {
    border-color: var(--color-input-border-dark);
    @include common.transition(in);
  }

  &.focus {
    border-color: var(--color-primary);
    box-shadow: var(--color-primary) 0px 0px 0px 1px;
    @include common.transition(in);
  }

  .textarea {
    height: 60px;
    font-size: 14px;
    line-height: 1.5;
  }

  .bar {
    display: flex;
  }
}
