.textarea-container {
    font-size: inherit;
    border: solid 1px var(--color-input-border);
    border-radius: 3px;
    transition-property: var(--transition-property);
    transition-duration: 0.2s;

    &:hover {
        border-color: var(--color-input-border-dark);
    }

    &.focus {
        border-color: var(--color-primary);
        box-shadow: var(--color-primary) 0px 0px 0px 1px;
    }

    .textarea {
        box-sizing: border-box;
        padding: 0.4em;
        width: 100%;
        overflow: hidden;
        appearance: none;
        outline: none;
        border: none;
        background: transparent;
        color: inherit;


        &::placeholder {
            color: inherit;
            opacity: 0.4;
        }

    }

}
