.app-aside {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    background-color: var(--color-primary-background-dark);
    padding: 0.2rem 0;

    &__nav {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 0.08rem;
        padding-left: 0.06rem;


        .button {
            font-size: 0.16rem;
            padding: 0.12rem 0.16rem;
            border-radius: 0.06rem 0 0 0.06rem !important;

            &.button--active {
                background-color: var(--color-primary-background);
            }
        }

        &__active-bar {
            left: 0rem;
        }
    }

    &__options {
        padding: 0.2rem 0.06rem;

        .button {
            width: 100%;
        }

        &__theme {
            color: var(--color-primary-text);
        }
    }
}
