@use '@/styles/mixins/screen';


.app-aside {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    background-color: var(--color-primary-background-dark);
    padding: 40px 0;

    @include screen.wap() {
        display: none !important;
    }

    &__nav {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-left: 3px;


        .button {
            font-size: 22px;
            padding: 10px 14px;
            border-radius: 3px 0 0 3px !important;

            &.button--active {
                background-color: var(--color-primary-background);
            }
        }

        &__active-bar {
            left: 0px;
            width: 3px;
        }
    }

    &__options {
        padding: 20px 5px;


        .button {
            font-size: 22px;
            width: 100%;
        }

        &__theme {
            color: var(--color-primary-text);
        }
    }
}
