html,
body {
  padding: 0;
  margin: 0;

  font-family: "JetBrains Mono", monospace, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* will-change: background-color, color; */
}

// #rc-anchor-container,
// .rc-anchor,
// .grecaptcha-badge {
//   display: none !important;
// }


.flex-space {
  flex: 1;
  overflow: hidden;
}

html[data-theme="dark"]:root {
  --color-primary: #fff;
  --color-primary-light: #ff9b9c;
  --color-primary-dark: #ff4e4f;
  
  --color-primary-background: #222;
  --color-primary-background-dark: #3a3a3a;
  
  --color-primary-border: #888;
  --color-input-border: hsl(217, 30%, 92%);
  --color-input-border-dark: hsl(217, 30%, 80%);
  
  --color-primary-text: #fff;
  --color-primary-text-dark: #848484;
}

html[data-theme="light"]:root {
  --color-primary: #00b7c3;
  --color-primary-light: #00d9e6;
  --color-primary-dark: #0097a3;
  
  --color-primary-background: #fff;
  --color-primary-background-dark: #f6f6f6;
  
  --color-primary-border: #eeee;
  --color-input-border: hsl(217, 30%, 92%);
  --color-input-border-dark: hsl(217, 30%, 80%);
  
  --color-primary-text: #222;
  --color-primary-text-light: #8b8b8b;
  --color-primary-text-dark: #000;
  --color-primary-text-lighter: #fff;
  --color-primary-text-darker: #fff;
}
