.app-header {
    padding: 0.08rem 0.16rem;

    display: flex;
    // justify-content: space-between;
    height: 0.35rem;

    border-bottom: 1px solid var(--color-primary-border);

    @at-root {
        html[data-theme="dark"] & {
            .brand {
                filter: grayscale(1);
            }
        }
    }
}
