#root {
    position: relative;
    height: auto;
    min-height: calc(var(--vh, 100vh)* 100 / 100);
    background-color: var(--color-primary-background);
    color: var(--color-primary-text);
}

.page {
    min-height: 100%;
}
