.avatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: var(--border-radius);
    color: var(--color-primary-text-light);

    .react-icon {
        height: 100%;
        width: 100%;
    }
}
